.product {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    &__container {
        padding: 139px 165px 92px 165px;
        display: flex;
        justify-content: space-between;
        max-width: 1110px;
        width: 100%;
        &__wrapper {
            width: 100%;
            max-width: 502px;
            padding: 32px 0 0 32px;
            background: #fff;
            &__title {
                font-family: Taviraj;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 32px;
                letter-spacing: 0.03em;
                color: #333333;
            }
            &__desc {
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: #777777;
                width: 100%;
                max-width: 345px;
            }
            &__discover {
                font-family: Taviraj;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 0.03em;
                color: #333333;
                width: max-content;
                border-bottom: 1px solid #333333;
                cursor: pointer;
            }
            &__product {
                width: 100%;
                float: right;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}