.billing {
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
    padding: 32px;
    .ant-form-item {
        margin-bottom: 0;
    }
    &__title {
        font-family: Taviraj;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.02em;
        color: #333333;
        margin-bottom: 40px;
    }
    &__item {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            .floating-select {
                .ant-select {
                    width: 90%;
                }
            }
        }
    }
}