.payment {
    height: 100%;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    &__container {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            &__right {
                width: 100%;
                &__billing {
                    &__btn {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin: 40px 0;
                        #outline {
                            border: 1px solid #D84727;
                            padding: 15px 28px;
                            background: transparent;
                            font-family: Taviraj;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 32px;
                            letter-spacing: 0.03em;
                            color: #D84727;
                            cursor: pointer;
                        } 
                        #filled {
                            background: #D84727;
                            padding: 15px 48px;
                            font-family: Taviraj;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 32px;
                            letter-spacing: 0.03em;
                            color: #FFFFFF;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
            &__left {
                width: 100%;
            }
        }
    }
}