.testimonal {
    height: 100%;
    width: 100%;
    background: #F7F6F4;
    display: flex;
    justify-content: center;
    padding-bottom: 77px;
    padding-top: 120px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1440px;
        &__left {
            width: 100%;
            &__bottom {
                position: absolute;
                background: #F1DDC9;
                height: 100%;
                width: 100%;
                max-width: 515px;
                max-height: 300px;
            }
            &__overlay {
                position: absolute;
                height: 100%;
                width: 100%;
                margin-top: -95px;
                max-width: 515px;
                max-height: 300px;   
                background: no-repeat left 0% top 0% url('../../../images/news-border.png'),no-repeat left 0% top 65% url('../../../images/news-light.png'),no-repeat left 0% top 200% url('../../../images/news-lightx.png');
            }
            &__top {
                position: relative;
                width: 100%;
                height: 100%;
                max-width: 511px;
                max-height: 321px;
                margin-top: 67px;
                margin-left: 165px;
                margin-right: 104px;
                img {
                    background-size: cover;
                    object-fit: contain;
                }
            }
            &__navigation {
                margin-top: 33px;
                display: flex;
                align-items: center;
                margin-left: 165px;
                svg {
                    cursor: pointer;
                }
                &__arrow {
                    margin-right: 24px;
                }
            }
        }
        &__right {
            padding-right: 16px;
            width: 100%;
            &__title {
                font-family: Taviraj;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 40px;
                letter-spacing: 0.02em;
                color: #333333;
                margin-bottom: 54px;
                hr {
                    border-color: #000;
                    margin-left: 0;
                    margin-top: 8px;
                    width: 23%;
                }
            }
            &__desc {
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.03em;
                color: #333333;
                width: 100%;
                max-width: 511px;
                margin-bottom: 32px;
            }
            &__creator {
                &__name { 
                    font-family: Taviraj;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.03em;
                    color: #333333;
                }
                &__tag {
                    font-family: Taviraj;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 32px;
                    letter-spacing: 0.03em;
                    color: #777777;
                }

            }
        }
    }
}