.banner {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    &__cover {
        position:absolute;
        height: 100%;
        width: 100%;
        max-width: 736px;
        top: -8%;
        right: 0;
        transition: all .3s;
        background: no-repeat right 0% top -55% url('../../../images/red-border.png'),no-repeat right 0% top 19% url('../../../images/light-border.png'),no-repeat right 0% top 39% url('../../../images/light-1x.png');
        @media only screen and (max-width: 1300px) {
            background: no-repeat right 0% top -18% url('../../../images/red-border.png'),no-repeat right 0% top 19% url('../../../images/light-border.png'),no-repeat right 0% top 39% url('../../../images/light-1x.png');
            background-size: 70%;
        }
        @media only screen and (max-width: 768px) {
            background: no-repeat right 0% top 5% url('../../../images/red-border.png'),no-repeat right 0% top 20% url('../../../images/light-border.png'),no-repeat right 0% top 25% url('../../../images/light-1x.png');
           top: 40%;
        }
    }
    &__wrapper {
        display: flex;
        padding: 50px 0px;
        background: #F1DDC9;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        @media only screen and (max-width: 1068px) {
            padding: 42px 16px;
        }
        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
        &__left {
            margin: 60px 47px -144px 8px;
            @media only screen and (max-width: 1068px) {
                margin: 60px 40px -224px 8px;
                svg {
                    width: 280px;
                } 
            }
            @media only screen and (max-width: 768px) {
                margin: unset;
            }
        }
        &__right {
            width: 100%;
            &__title {
                width: 100%;
                max-width: 450px;
                font-family: Taviraj;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 80px;
                letter-spacing: 0.02em;
                color: #333333;
                @media only screen and (max-width: 1400px) {
                    font-size: 50px;  
                }
                hr {
                    border: 1px solid #000000;
                    width: 100px;
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            &__desc {
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.03em;
                color: #333333;
                width: 100%;
                max-width: 529px;
                @media only screen and (max-width: 1400px) {
                    font-size: 15px;  
                }
            }
            &__discover {
                font-family: Taviraj;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 0.03em;
                color: #333333;
                border-bottom: 1px solid #000;
                width: fit-content;
                margin: 8px 0 44px 0;
                z-index: 2;
                position: relative;
                cursor: pointer;
            }
            &__btnWrapper {
                display: flex;
                z-index: 2;
                position: relative;
                margin-bottom: 20px;
                #btn-normal {
                    margin-right: 18px;
                    padding: 14px 30px;
                    background: #D84727;
                    border: none;
                    outline: none;
                    font-family: Taviraj;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 34px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                    cursor: pointer;
                    width: 100%;
                    max-width: 220px;
                    @media only screen and (max-width: 1068px) {
                        max-width: 208px;
                        font-size: 18px;
                    }
                    &:active {
                        background: #c7310f;
                    }
                    span {
                        margin-left: 20px;
                    }
                }
                #btn-outline {
                    background: transparent;
                    border: 2px solid #D84727;
                    box-sizing: border-box;
                    cursor: pointer;
                    width: 100%;
                    max-width: 140px;
                    &:hover {
                        background: #c7310f;
                    }
                    &:active {
                        background: #e95a3a;
                    }
                   
                }
            }
        }
        &__btnBottom {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin: 0 0 -80px 0;
            width: 100%;
            padding-right: 20px;
            #btn-normal {
                background: #D84727;
                border: none;
                outline: none;
                height: 60px;
                width: 60px;
                cursor: pointer;
                &:active {
                    background: #c7310f;
                }
            }
            #btn-outline {
                margin-right: 15px;
                background: transparent;
                border: 2px solid #D84727;
                box-sizing: border-box;
                width: 60px;
                height: 60px;
                transform: scaleX(-1);
                cursor: pointer;
                &:hover {
                    background: #D84727;
                    path {
                        stroke: #fff;
                    }
                }
                &:active {
                    background: #c7310f;
                    path {
                        stroke: #fff;
                    }
                }
                path {
                    stroke: #D84727;
                }
            }
        }
    }
}