.product-container {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    &__wrapper {
        display: flex;
        margin: 0 auto;
        max-width: 1110px;
        width: 100%;
        &__filter {
            height: 100%;
            width: 100%;
            max-width: 130px;
            margin-right: 50px;
        }
        &__main {
            display: flex;
            flex-direction: column;
            width: 100%;
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 80px;
                &__left {
                    font-family: Taviraj;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 48px;
                    letter-spacing: 0.02em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    color: #999999;
                }
                &__right {
                    display: flex;
                    font-family: Taviraj;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    color: #999999;
                    span {
                        margin-right: 10px;
                    }
                }
            }
            &__products {
                display: flex;
                width: 100%;
                flex: 0 1 auto;
                flex-wrap: wrap;
                &__card {
                    max-width: 220px;
                    padding: 0 24px 0px 24px;
                    margin-bottom: 100px;
                    margin-right: 10px;
                    .card__product {
                        margin-bottom: 10px;
                    }
                    .card__title {
                        font-size: 22px;
                    }
                    .card__price {
                        font-size: 20px;
                    }
                    .card__bottom {
                        margin: 10px 0 16px 0;
                        display: flex;
                        #btn-normal {
                            padding: 8px 10px !important;
                        }
                    }
                }
            }
        }
    }
}