.banner {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    &__cover {
        position:absolute;
        height: 100%;
        width: 100%;
        top: -8%;
        left: 0;
        transition: all .3s;
        background: no-repeat right 0% top -55% url('../../images/red-border.png'),no-repeat right 0% top 19% url('../../images/light-border.png'),no-repeat right 0% top 39% url('../../images/light-1x.png');
    }
    &__wrapper {
        display: flex;
        padding: 50px 0px;
        background: #F1DDC9;
        margin: 0 165px;
        &__left {
            margin: 60px 47px -144px 8px
        }
        &__right {
            width: 100%;
            min-width: 529px;
            &__title {
                width: 100%;
                max-width: 450px;
                font-family: Taviraj;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 80px;
                letter-spacing: 0.02em;
                color: #333333;
                hr {
                    border: 1px solid #000000;
                    width: 100px;
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            &__desc {
                font-family: Nunito;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.03em;
                color: #333333;
                width: 100%;
                max-width: 529px;
            }
            &__discover {
                font-family: Taviraj;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 0.03em;
                color: #333333;
                border-bottom: 1px solid #000;
                width: fit-content;
                margin: 8px 0 44px 0;
            }
            &__btnWrapper {
                display: flex;
                #btn-normal {
                    margin-right: 18px;
                    padding: 14px 30px;
                    background: #D84727;
                    border: none;
                    outline: none;
                    font-family: Taviraj;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 34px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                    cursor: pointer;
                    width: 100%;
                    span {
                        margin-left: 20px;
                    }
                }
                #btn-outline {
                    background: transparent;
                    border: 2px solid #D84727;
                    box-sizing: border-box;
                    cursor: pointer;
                    width: 100%;
                    img {
                        padding: 14px 42px;
                    }
                }
            }
        }
        &__btnBottom {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin: 0px 29px -80px 0px;
            width: 100%;
            #btn-normal {
                background: #D84727;
                border: none;
                outline: none;
                max-height: 60px;
                height: 100%;
                max-width: 60px;
                width: 100%;
                cursor: pointer;
            }
            #btn-outline {
                margin-right: 15px;
                background: transparent;
                border: 2px solid #D84727;
                box-sizing: border-box;
                max-width: 60px;
                width: 100%;
                max-height: 60px;
                height: 100%;
                transform: scaleX(-1);
                cursor: pointer;
                path {
                    stroke: #D84727;
                }
            }
        }
    }
}